
@import url('https://fonts.googleapis.com/css?family=Coda|Courgette|Glegoo|Lustria|Marcellus+SC|Nixie+One|Pathway+Gothic+One|Playball|Slabo+13px');            .small { font: italic 40px sans-serif; }

html,body,svg { 
    height:100%

}

.logo{
  width:30rem;
  height: 30rem;
  background-color: red;
}
.path {
    stroke: #000;
    stroke-width: 4;
    stroke-dasharray: 4000px;
    stroke-dashoffset: 4000px;
    animation-name: draw;
    animation-direction: normal;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
  
.firstWord { 
    font: italic 130px Marcellus; fill:navy; 
}

.secondWord { 
    font: italic 130px Marcellus; fill:navy; 
}